$serif: "Merriweather", serif;
$sans-serif: "Source Sans Pro", sans-serif;
$monospace: "Space Mono", monospace;
$font-color: #222;
$second-color: #aaa;
$link-color: #7080c0;
$footer-color: #ccc;

html {
	min-height: 100vh;
}

body {
	position: relative;
	top: 0px;
	font-size: unquote(
		"min(calc(16px + (22-16) * ((100vw - 320px) / (820-320))),22px)"
	);
	font-family: $serif;
	font-weight: lighter;
	line-height: 1.55;
	// padding-bottom: 20px;
	// margin: 0 auto;
	color: $font-color;
	min-height: unquote(
		"calc(100vh - 170px - 2em)"
	);
	padding-bottom: 170px;
}

strong {
	font-weight: 700;
}

a {
	color: $link-color;

	&:visited {
		color: $link-color;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sans-serif;
	line-height: 1;
}

pre,
code {
	font-family: $monospace;
}

header {
	h1 {
		font-size: 5rem;
		text-transform: uppercase;
		text-align: center;
	}

	a {
		text-decoration: none;
		color: $font-color;

		&:visited {
			text-decoration: none;
			color: $font-color;
		}
	}

	nav#header-menu {
		width: 100%;
		display: block;
		margin: 0 auto;
		text-align: center;
		font-style: italic;
		margin-top: -2em;

		a {
			text-decoration: none;
			border-bottom: 2px solid transparent;
			color: $second-color;

			&:visited {
				color: $second-color;
			}
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			display: inline-block;
			padding: 0.5em;
			list-style-position: inside;
		}
	}
}

main {
	max-width: 820px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;

		&[src*="#hero"] {
			width: 80%;
			-webkit-box-reflect: below -1px -webkit-gradient(
					linear,
					left top,
					left bottom,
					from(transparent),
					color-stop(0.67, transparent),
					to(rgba(250, 250, 250, 0.1))
				);
			margin-bottom: 100px;
		}
	}

	#meta-top {
		font-family: $sans-serif;
		font-size: 0.75em;
		color: #aaa;
		margin-top: -1.2em;

		span:not(:last-of-type)::after {
			content: " · ";
		}

		a {
			color: $second-color;
			text-decoration: none;

			&:visited {
				color: $second-color;
				text-decoration: none;
			}
		}
	}

	aside#meta-bottom {
		display: block;
		overflow: hidden;

		nav#prev-next {
			font-family: $sans-serif;
			color: $second-color;
			width: 100%;
			font-size: 0.75em;

			div {
				display: table;
			}

			i {
				vertical-align: middle;
				line-height: 100%;
				display: table-cell;
				padding: 0.5em;
			}

			a {
				display: table-cell;
				vertical-align: middle;
				text-decoration: none;
				color: $second-color;
				max-width: 250px;
				text-align: center;

				&:visited {
					color: $second-color;
				}
			}

			div {
				&.previous {
					transition: transform 0.3s ease-out;
					float: left;

					&:hover {
						transform: translateX(-4px);
					}
				}

				&.next {
					transition: transform 0.3s ease-out;
					float: right;

					&:hover {
						transform: translateX(4px);
					}
				}
			}
		}
	}

	twitter-widget.twitter-tweet {
		margin: 0 auto;
	}

	form.search input#search-query {
		min-width: 320px;
		display: block;
		margin: 0 auto;
		font-family: $sans-serif;
	}

	div {
		&#search-results {
			padding-top: 2em;
		}

		&.search-result {
			div.front-matter {
				font-size: 0.75em;
			}

			p {
				margin-block-start: 0.1em;
			}
		}
	}

	ul {
		&.pagelist {
			list-style-type: none;
			display: table;

			li {
				display: table-row;

				span.meta {
					display: table-cell;
					min-width: 6em;
					color: $second-color;
					font-family: $sans-serif;
				}
			}
		}

		&.terms {
			list-style-type: none;

			li {
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px;
				font-family: $sans-serif;
				line-height: 0;

				a {
					text-decoration: none;
					color: $font-color;

					&:visited {
						text-decoration: none;
						color: $font-color;
					}
				}
			}
		}

		&#tags {
			list-style-type: none;

			li {
				display: inline-block;
				line-height: 0;
				list-style-position: inside;
				font-size: 0.75em;
				font-family: $sans-serif;

				a {
					display: inline-block;
					padding: 0.75em;
					text-decoration: none;
					color: $second-color;
					background-color: #eee;
					border: 5px;
					border-radius: 5px;

					&:visited {
						color: $second-color;
						background-color: #eee;
					}
				}
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 0px;
	// margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background-color: $footer-color;
	font-family: $sans-serif;
	min-height: 80px;
}

/* main a[href*="wikipedia.org/wiki/"]::after {
  color: #222;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-size: 0.65em;
  content: "\f266";
  vertical-align: super;
  display: inline-block;
  opacity: 0.85;
} */

/* widgets */

.widget-container {
	// overflow: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
  }

div.widget {
	display: inline-block;
	font-size: .7em;
	min-width: 250px;
	max-width: 390px;
	table {
		width: 100%;
	}
}

/* tables */

td.text,
th.text {
	text-align: left;
}

td.number,
th.number {
	text-align: right;
}



/* in-house semantic classes */

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
	margin: 0 auto;
}



// #chart {
// 	height: calc(200px + 40vw);
// }

// #donate {
// 	display: grid;
// 	grid-column-gap: 20px;
// 	grid-template-columns: auto auto auto auto;

// 	.qr-code {
// 		text-align: center;
// 		font-size: 0.75rem;
// 		word-break: break-word;

// 		img {
// 			margin: 0 auto;
// 		}
// 	}
// }

// .tablenote {
// 	color: #999;
// 	font-size: 0.9rem;
// }



// #tables {
// 	display: grid;
// 	grid-column-gap: 50px;
// 	grid-template-columns: auto auto;
// }

// .table-container {
// 	margin-bottom: 1.5em;
// 	width: 100%;
// }

// table.table {
// 	width: 375px;
// }
