{{ define "main" }}
<main>
  <h1 id="title">{{ .Title | markdownify }}</h1>
  <div>
        <article id="content">
          <form class="search" action="{{ "search" | relURL }}">
            <input id="search-query" name="query" placeholder="Search &#9166;"/>
          </form>
          <div id="search-results">
          </div>
        </article>
  </div>
</main>
<script id="search-result-template" type="text/x-js-template">
  <div id="summary-${key}" class=search-result>
    <a href="${link}">${title}</a>
    <div class="front-matter">
    <p>${snippet}...</p>
    </div>
  </div>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/5.2.3/fuse.min.js" integrity="sha256-/VZ8+MFzK48YY4iDTxLOyhRKj5HUhvGE23BtN88ktqM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js" integrity="sha256-4HLtjeVgH0eIB3aZ9mLYF6E8oU5chNdjU6p6rrXpl9U=" crossorigin="anonymous"></script>
<script>
  {{- with .Site.GetPage "/" }}
  {{- with .OutputFormats.Get "json" }}
  var index = "{{ .RelPermalink }}";
  {{- end -}}
  {{- end }}
</script>
<script src="/js/search.js"></script>
{{ end }}