{{ define "main" }}
<main>
  <h1 id="title">{{ .Title | markdownify }}</h1>
  <div>
        <article id="content">
          <form class="search">
            <input id="search-query" name="query" placeholder="Search &#9166;"/>
          </form>
          <div id="search-results">
          </div>
        </article>
  </div>
</main>
<script id="search-result-template" type="text/x-js-template">
  <div id="summary-${key}" class=search-result>
    <a href="${link}">${title}</a>
    <div class="front-matter">
    <p>${snippet}...</p>
    </div>
  </div>
</script>
<script src="https://unpkg.com/fuse.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/mark.js/dist/jquery.mark.min.js" crossorigin="anonymous"></script>

{{ with .Site.GetPage "/" }}
{{- with .OutputFormats.Get "json" -}}
{{- printf `<link id="search-data" href="%s" />` .RelPermalink | safeHTML -}}
{{- end -}}
{{- end }}

<script src="/js/search.js"></script>
{{ end }}