{{ define "main" }}
<main>
    <article>
        <!-- <header> -->
            <h1>{{ .Title | markdownify }}</h1>
        <!-- </header> -->
        <canvas id="tag-cloud"></canvas>
        {{/*  <ul class="terms">
            {{ range $key, $value := .Data.Terms }}
                <li data-count="{{$value.Count}}"><a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
                    {{ $key }}
                    </a></li>
            {{ end }}
            </ul>  */}}
    </article>
</main>
<script src="https://cdn.jsdelivr.net/npm/wordcloud@1/src/wordcloud2.min.js" crossorigin="anonymous"></script>
<script>
    function setupCanvas(canvas) {
        // Get the device pixel ratio, falling back to 1.
        var dpr = window.devicePixelRatio || 1;
        // Get the size of the canvas in CSS pixels.
        var rect = canvas.getBoundingClientRect();
        // Give the canvas pixel dimensions of their CSS
        // size * the device pixel ratio.
        canvas.width = rect.width * dpr;
        canvas.height = rect.height * dpr;
//        var ctx = canvas.getContext('2d');
        // Scale all drawing operations by the dpr, so you
        // don't have to worry about the difference.
//        ctx.scale(dpr, dpr);
//        return ctx;
        return canvas;
    }
 </script>
<script>
    var canvas = setupCanvas(document.querySelector('#tag-cloud'));
    var list = [{{ range $key, $value := .Data.Terms }}[{{ $key }},{{$value.Count}}, {{ $key | urlize }}],{{end}}];
    var options = {
        list: list,
        clearCanvas: true,
        origin: [canvas.width/2,0],
        gridSize: 8,
        weightFactor: function (size) {
          return 20 + Math.pow(2*size, 1.3);
        },
        fontFamily: '"Source Sans Pro", sans-serif',
        color: "#aaa",
        rotateRatio: 0.5,
        rotationSteps: 2,
        shape: "square",
        drawOutOfBound: false,
        shrinkToFit: true,
//        minsize: 12,
        hover: function(item, dimension, event) {
        },
        click: function(item, dimension, event) {
            location.href = location.href + item[2] + "/";
        },
      };
    WordCloud(canvas, options);
//    $( window ).resize(function() {
//        canvas = setupCanvas(document.querySelector('#tag-cloud'));
//        WordCloud(canvas, options);
//      });      
</script>
<script>
    /*  $(window).on('load', function() {
        var nums = $('ul.terms li').map(function() {
            return parseInt($(this).data('count'));
        }).get();
        var maxVal = Math.max(...nums);
        var minVal = Math.min(...nums);
        var baseFont = $('ul.terms li').css("font-size");
        var fontsplit = baseFont.match(/([0-9\.]+)\s?([a-z\%]+)/);
        var minFont = parseInt(fontsplit[1])/2;
        var maxFont = parseInt(fontsplit[1])*3;
        var fontUnits = fontsplit[2];
        $('ul.terms li').each(function() {
            var itemCount = parseInt($(this).data('count'));
            if (itemCount) {
                var fontSize = (((itemCount )/(maxVal - minVal)) * (maxFont - minFont)) + minFont;
                $(this).css("font-size", fontSize+fontUnits);
                // $(this).css("font-size", 5);
                $(this).attr("title", (itemCount));
            } else {
                // if we can't determine the year, just set it to 90% size
                // $(this).css("font-size", 2);
                $(this).attr("title", ("oops"));
            }
        });
    });  */
</script>
{{ end }}