<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ block "title" . }}{{ with .Params.Title }}{{if (ne . $.Site.Title)}}{{ . | markdownify | plainify | htmlUnescape }} | {{ end }}{{ end }}{{ .Site.Title }}{{ end }}</title>

<!-- Site style -->
{{- $CSS := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css") -}}
<link href='{{ $CSS.RelPermalink }}' rel="stylesheet" media="screen" />    

<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/quicklink@2.0.0/dist/quicklink.min.js" crossorigin="anonymous"></script>

<!-- Favicon -->
{{- if .Site.Params.favicon -}}
<link rel="shortcut icon" href="/{{ .Site.Params.favicon }}" type="image/png" />
{{- end -}}

<!-- RSS -->
{{- with .Site.GetPage "/" }}
{{- with .OutputFormats.Get "rss" -}}
    {{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML -}}
{{- end -}}
{{- end }}

<!-- Mathjax -->
{{- if .Params.mathjax}}{{ partial "mathjax.html" . }}{{- end -}}

<!-- Internal templates -->
{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}
{{- template "_internal/google_news.html" . -}}
{{- template "_internal/schema.html" . -}}
{{/*  {{- template "_internal/google_analytics_async.html" . -}}  */}}

{{- with .Site.GoogleAnalytics -}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{- end -}}