{{ define "main" }}
<main>
    {{if not .IsHome}}
        <header>
            <h1>{{.Title | markdownify}}</h1>
        </header>
    {{ end }}
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}


    {{ $section := "blog"}}
    {{ if (isset .Site.Params "blogs") }}
    {{ $section = .Site.Params "blogs" }}
    {{ end }}
    {{ $allPosts := (where .Site.RegularPages "Section" $section) | intersect (where .Site.RegularPages "Kind" "page")}}
        
    {{ $nbPosts := len (where $allPosts "Params.best" true) }}
    {{ if gt $nbPosts 0 }}
    <h3>Favorite blog posts</h3>
    <ul class="pagelist">
        <!-- Ranges through content/blog/*.md tagged "best" -->
        {{ range (where $allPosts "Params.best" true) }}
            {{ partial "li.html" . }}
        {{ end }}
    </ul>
    {{ else if isset .Site.Params "latestpostcount" }}
    {{ $nbPosts := len (where .Site.Pages "Section" "blog") }}
    {{ if gt $nbPosts 0 }}
    <h3>Latest blog posts</h3>
    <ul class="pagelist">
    <!-- Ranges through content/blog/*.md -->
    {{ range (first .Site.Params.latestpostcount $allPosts) }}
        {{ partial "li.html" . }}
    {{ end }}
    </ul>
    {{ end }} <!-- posts > 0 -->
    {{ end }} <!-- latest post count set -->
</main>
{{ end }}